[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
argon2_cffi = "*"
requests = "*"
celery = "*"
django-widget-tweaks = "*"
psycopg2 = "*"
Django = "*"

[dev-packages]
ptpython = "*"
django-debug-toolbar = "*"
Werkzeug = "*"
django-extensions = "*"
