[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
ptpython = "*"
django-debug-toolbar = "*"
Werkzeug = "*"

[packages]
django-widget-tweaks = "*"
psycopg2 = "*"
argon2_cffi = "*"
Django = "*"
celery = "*"
requests = "*"
