[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
argon2_cffi = "*"
django-widget-tweaks = "*"
requests = "*"
psycopg2 = "*"
Django = "*"
celery = "*"

[dev-packages]
Werkzeug = "*"
ptpython = "*"
django-debug-toolbar = "*"
django-extensions = "*"
