input.star {
    display: none;
}

label.star {
    font-size: 1.2em;
    float: right;
    color: #777777;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #f0ad4e;
    transition: all .2s;
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

.unstyled {
    text-decoration: none !important;
}
