<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Library</title>
        <link type="image/x-icon" rel="shortcut icon" href="{% static 'favicon-book.ico' %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'books/style.css' %}">

    {% block stylesheets %}
    {% endblock %}

  </head>

  <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Django Library</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    {% url 'books:book-list' as url %}
                    <li class="nav-item {% if request.path == url %} active {% endif %}">
                        <a class="nav-link" href="{{ url }}">
                            <i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Books
                        </a>
                    </li>

                    {% url 'books:genre-list' as url %}
                    <li class="nav-item {% if request.path == url %} active {% endif %}">
                        <a class="nav-link" href="{{ url }}">
                            <i class="fa fa-folder-open fa-fw" aria-hidden="true"></i>&nbsp; Genres
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                        {% url 'books:book-create' as url %}
                        <li class="nav-item {% if request.path == url %} active {% endif %}">
                            <a class="nav-link" href="{{ url }}">
                                <i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>&nbsp; Add Book
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav my-2 my-lg-0 mr-2">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown float-lg-right">
                            {% url 'books:customer-detail' as url %}
                            <a class="nav-link {% if request.path == url %} active {% endif %} dropdown-toggle" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user fa-fw"></i> {{ request.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="accountDropdown">
                                <a class="dropdown-item" href="{{ url }}"><i class="fa fa-user fa-fw"></i> Account</a>
                                <a class="dropdown-item" href="{% url 'books:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </div>
                        </li>
                        <li class="nav-item float-lg-right">
                            <a class="nav-link">
                                <i class="fa fa-bell fa-fw"></i>
                                <span id="notification-count" class='tag tag-pill tag-default'>0</span>
                            </a>
                        </li>
                    {% else %}
                        {% url 'books:login' as url %}
                        <li class="nav-item float-lg-right {% if request.path == url %} active {% endif %}">
                            <a class="nav-link" href="{{ url }}">
                                <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>&nbsp; Login
                            </a>
                        </li>
                    {% endif %}
                </ul>


                <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'books:book-list' %}">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search Books..." name="q">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </nav>


        {% block content %}
        {% endblock content %}

        <div id="alerts-footer">
            {% if messages %}
                {% for message in messages %}
                    <div class="fixed-bottom alert {% if message.tags %} alert-{{ message.tags }} {% endif %} mb-0">
                        {% if message.tags %}<label><strong>{{ message.tags |capfirst }}!</strong></label> {% endif %}
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% block scripts %}

            <!-- jQuery first, then Tether, then Bootstrap JS. -->
            <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
            <script async src="https://use.fontawesome.com/6b61cfd894.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.4.1/velocity.min.js"></script>
            <script async=True src="{% static 'books/alerts.js' %}"></script>

        {% endblock %}

  </body>
</html>
