{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% load book_tags %}
{% load widget_tweaks %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'books/style.css' %}"/>
{% endblock %}

{% block content %}

<!-- Book Delete Modal -->
<div class="modal fade" id="bookDeleteModal" tabindex="-1" role="dialog" aria-labelledby="bookDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger rounded-top text-white">
                <h5 class="modal-title" id="bookDeleteModalLabel"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            <i class="fa fa-text-width fa-fw" aria-hidden="true"></i>
                            <b>Title:</b> {{ book.title }}
                        </p>
                        <p>
                            <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                            <b>Subtitle:</b> {{ book.subtitle }}
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                            <b>Author:</b> {{ book.author_names }}
                        </p>
                        <p>
                            <i class="fa fa-hashtag fa-fw" aria-hidden="true"></i>
                            <b>ISBN:</b> {{ book.isbn }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form  method="post" action="{% url 'books:book-delete' book.slug %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i> Cancel</button>
                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Book Update Modal -->
<div class="modal fade" id="bookUpdateModal" tabindex="-1" role="dialog" aria-labelledby="bookUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header bg-success rounded-top text-white">
                    <h5 class="modal-title" id="bookUpdateModalLabel"><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp; Update Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for field in form %}
                        {% if field.errors %}
                        <div class="form-group has-danger">
                            <label class="form-control-label" for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
                            <input type="text" class="form-control form-control-danger" id="isbnInput" name="{{ field.name }}">
                            {% for error in field.errors %}
                            <div class="form-control-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% else %}
                            <div class="form-group">
                                <label class="form-control-label" for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
                                {% render_field field placeholder=field.help_text class+="form-control" %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i> Cancel</button>
                    <button type="submit" class="btn btn-success"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Update</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="container p-3">
    <div class="row">
        <div class="col-lg-8 push-lg-4">
            <div class="card card-block p-4 mb-4">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="rounded mx-auto d-block img-fluid pb-4" src="{{ book.img }}">
                    </div>
                    <div class="col-sm-8">
                        <dl class="row">
                            <dt class="col-sm-3"><i class="fa fa-text-width fa-fw"></i> Title</dt>
                            <dd class="col-sm-9">{{ book.title }}</dd>
                            <dt class="col-sm-3"><i class="fa fa-pencil fa-fw"></i> Subtite</dt>
                            <dd class="col-sm-9">{{ book.subtitle }}</dd>
                            <dt class="col-sm-3"><i class="fa fa-hashtag fa-fw"></i> ISBN</dt>
                            <dd class="col-sm-9">{{ book.isbn }}</dd>
                            <dt class="col-sm-3"><i class="fa fa-user fa-fw"></i> Author</dt>
                            <dd class="col-sm-9">
                                {% for author in book.authors.all %}
                                    <a href="{{ author.get_absolute_url }}">{{ author }}</a>
                                {% endfor %}
                            </dd>
                            <dt class="col-sm-3"><i class="fa fa-star fa-fw"></i> Rating</dt>
                            <dd class="col-sm-9">
                                {% if book.reviews.all %}
                                    {{ book.average_rating|prettystars }}
                                {% else %}
                                    - - - - -
                                {% endif %}
                            </dd>
                            <dt class="col-sm-3"><i class="fa fa-folder-open fa-fw"></i> Genres</dt>
                            <dd class="col-sm-9">
                                {% for genre in book.genres.all %}
                                    {{ genre }}
                                {% endfor %}
                            </dd>
                        </dl>
                    </div>
                </div>

                {% if unreturned_loan %}
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-{{ unreturned_loan.warn_level|warnlevelclass }} alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Reminder</strong>&nbsp;
                                Book
                                {% if unreturned_loan.is_overdue %} was {% endif %}
                                due &nbsp; <i class="fa fa-calendar-check-o"></i> {{ unreturned_loan.end_date|naturalday }}
                                <span class="float-right">
                                    <small class="hidden-sm-down">
                                        {% if unreturned_loan.is_overdue %}
                                            {{ unreturned_loan.end_date|timesince }} Ago
                                        {% else %}
                                            {{ unreturned_loan.end_date|timeuntil }} From Now
                                        {% endif %}
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-4">
                    {% comment %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-success">Action</button>
                            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Status Here</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Currently Reading</a>
                                <a class="dropdown-item" href="#">Want to Read</a>
                            </div>
                        </div>
                    {% endcomment %}
                    </div>
                    <div class="col-md-8">
                        {% if not unreturned_loan %}
                            {% if book.is_available %}
                                <form  method="post" action="{% url 'books:book-checkout' book.slug %}">
                                    {% csrf_token %}
                                    <button class="btn btn-success float-right" type="submit" value="checkout"><i class="fa fa-shopping-cart"></i>&nbsp; Checkout</button>
                                </form>
                            {% endif %}

                            {% comment %}
                            {% if not user_has_read and not user_wants_book %}
                                <form method="post" action="{% url 'books:book-add-to-want-list' book.slug %}">
                                    {% csrf_token %}
                                    <button class="btn btn-info float-right mr-2" type="submit" value="checkout"><i class="fa fa-list"></i>&nbsp; Want To Read</button>
                                </form>
                            {% endif %}
                            {% endcomment %}
                        {% endif %}

                        {% if request.user.is_authenticated and unreturned_loan %}
                            <form method="post" action="{% url 'books:book-return' book.slug %}">
                                {% csrf_token %}
                                <button class="btn btn-warning float-right" type="submit"><i class="fa fa-reply"></i>&nbsp; Return Book</button>
                            </form>

                            {% if unreturned_loan.is_renewable %}
                            <form method="post" action="{% url 'books:book-loan-renew' book.slug %}">
                                {% csrf_token %}
                                <button class="btn btn-info float-right mr-2" type="submit"><i class="fa fa-recycle"></i>&nbsp; Renew Loan</button>
                            </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            </div>

            <div class="card card-block p-4 mb-4">
                <h3 class="pb-3">Reviews</h3>
                {% for review in book.reviews.all %}
                    <div class="card">
                        <div class="card-block">
                            <p>
                                <b>{{ review.customer }}</b> <span class="pl-2">{{ review.rating|prettystars }}</span>
                            </p>
                            <p class="card-text">{{ review.review }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p>No reviews yet</p>
                {% endfor %}

                {% if user_has_loaned and not user_has_reviewed %}
                    <p class="pt-3">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#reviewForm" aria-expanded="false" aria-controls="reviewForm">
                            <i class="fa fa-caret-down"></i>&nbsp; Leave Review
                        </button>
                    </p>
                {% endif %}

                <div class="collapse" id="reviewForm">
                    <div class="card card-block">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group w-25">
                                <label for="formGroupExampleInput"><b>Rating</b></label>
                                <input class="star star-5" id="star-5" type="radio" name="rating" value="5"/>
                                <label class="star star-5" for="star-5"></label>
                                <input class="star star-4" id="star-4" type="radio" name="rating" value="4"/>
                                <label class="star star-4" for="star-4"></label>
                                <input class="star star-3" id="star-3" type="radio" name="rating" value="3"/>
                                <label class="star star-3" for="star-3"></label>
                                <input class="star star-2" id="star-2" type="radio" name="rating" value="2"/>
                                <label class="star star-2" for="star-2"></label>
                                <input class="star star-1" id="star-1" type="radio" name="rating" value="1"/>
                                <label class="star star-1" for="star-1"></label>
                            </div>
                            <div class="form-group">
                                <label for="reviewInput"><b>Review</b></label>
                                <textarea class="form-control" style="height: 30vh;" id="reviewInput" rows="10" name="review" placeholder="Enter review">{% if form.review.value %}{{ form.review.value }}{% endif %}</textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pull-lg-8">
            <ul class="list-group pb-4">
                <a href="#" class="list-group-item bg-success text-white justify-content-between">
                    <b>Information</b>
                    <span><i class="fa fa-info fa-fw"></i></span>
                </a>
                <a href="#" class="list-group-item list-group-item-action justify-content-between">
                    Available
                    <span>
                        {% if book.is_available %}
                            <i class="fa fa-check text-success"></i>
                        {% else %}
                            <i class="fa fa-ban text-danger"></i>
                        {% endif %}
                    </span>
                </a>
                <a href="#" class="list-group-item list-group-item-action justify-content-between">
                    Total Copies
                    <span>{{ book.num_copies }}</span>
                </a>
            </ul>
            <ul class="list-group pb-4">
                <a href="#" class="list-group-item bg-info text-white justify-content-between">
                    <b>Current Owners</b>
                    <span><i class="fa fa-users fa-fw"></i></span>
                </a>
                {% for owner in book.current_owners %}
                    <a href="#" class="list-group-item list-group-item-action">{{ owner }}</a>
                {% empty %}
                    <a href="#" class="list-group-item list-group-item-action">No owners</a>
                {% endfor %}
            </ul>
            <ul class="list-group pb-4">
                <a href="#" class="list-group-item bg-warning text-white justify-content-between">
                    <b>Similar Books</b>
                    <span><i class="fa fa-book fa-fw"></i></span>
                </a>
                {% for book in book.similar_books %}
                    <a href="{{ book.get_absolute_url }}" class="list-group-item list-group-item-action">{{ book.title }}</a>
                {% empty %}
                    <a href="#" class="list-group-item list-group-item-action">No similar books found</a>
                {% endfor %}
            </ul>
            {% if request.user.is_superuser %}
                <ul class="list-group pb-4">
                    <a href="#" class="list-group-item bg-danger text-white justify-content-between">
                        <b>Admin Actions</b>
                        <span><i class="fa fa-cog fa-fw"></i></span>
                    </a>
                    <a class="list-group-item list-group-item-action justify-content-between" data-toggle="modal" data-target="#bookUpdateModal">
                        Update
                        <span>
                            <i class="fa fa-pencil text-success"></i>
                        </span>
                    </a>
                    <a class="list-group-item list-group-item-action justify-content-between" data-toggle="modal" data-target="#bookDeleteModal">
                        Delete
                        <span>
                            <i class="fa fa-trash text-danger"></i>
                        </span>
                    </a>
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
