{% extends "base.html" %}
{% block body %}
<article class="mw7 center br3 pa3 pa4-ns mv3 ba b--black-10">
    <form method="post" accept-charset="utf-8">
        {% csrf_token %}
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="ph0 mh0 fw6 clip">Login</legend>
            <div class="mt3">
                <label class="db fw4 lh-copy f6" for="title">Title</label>
                <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="title" id="title" value="{{ form.title.value }}">
            </div>
            <div class="mt3">
                {{ form.subtitle.errors }}
                <label class="db fw4 lh-copy f6" for="subtitle">Subtitle</label>
                <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="subtitle" id="subtitle", value="{{ form.subtitle.value }}">
            </div>
            <div class="mt3">
                <label class="db fw4 lh-copy f6" for="img">Image URL</label>
                <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="img" id="img", value="{{ form.img.value }}">
            </div>
            <div class="mt3">
                <label class="db fw4 lh-copy f6" for="img">Authors</label>
                {{ form.authors }}
            </div>
            <div class="mt3">
                <label class="db fw4 lh-copy f6" for="img">Genres</label>
                {{ form.genres }}
            </div>
        </fieldset>
        <div class="mt3"><input class="b ph3 pv2 input-reset green ba b--black bg-transparent grow pointer f6" type="submit" value="Update Book"></div>
    </form>
</article>
{% endblock %}
