{% extends "base.html" %}
{% block content %}

<div class="container pt-3">
    <div class="card card-block p-5">
        <form method="post">
            {% csrf_token %}
            {% if form.isbn.errors %}
                <div class="form-group has-danger">
                    <label class="form-control-label" for="isbnInput"><b>{{ form.isbn.label }}</b></label>
                    <input type="text" class="form-control form-control-danger" id="isbnInput" name="isbn">
                    {% for error in form.isbn.errors %}
                        <div class="form-control-feedback">{{ error }}</div>
                    {% endfor %}
                    <small id="isbnHelp" class="form-text text-muted">
                        <a class="unstyled" href="https://www.abebooks.com/books/search-number-code-10-13-digit/ISBN.shtml">
                            What is an ISBN?
                        </a>
                    </small>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="isbnInput"><b>{{ form.isbn.label }}</b></label>
                    <input type="text" class="form-control" id="isbnInput" name="isbn" placeholder="e.g. 0545582970" autofocus=True">
                    <small id="isbnHelp" class="form-text text-muted"><a href="https://www.abebooks.com/books/search-number-code-10-13-digit/ISBN.shtml">What is an ISBN?</a></small>
                </div>
            {% endif %}
            <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Submit</button>
        </form>
    </div>
</div>

{% endblock content %}
