{% for book in books %}
    <div class="col-6 col-sm-3 col-lg-2 col-xl-1 py-2">
        <a class="unstyled" href="{{ book.get_absolute_url }}">
            <div class="card h-100">
                <img class="card-img w-100 h-100 grow {% if not book.is_available %} grayscale {% endif %}" src="{{ book.img }}" alt="Card image cap">
            </div>
        </a>
    </div>
{% empty %}
    <div>
        <div class="jumbotron rounded" style="background: #ffffff">
            <h1 class="display-3">No Books Available</h1>
            <p class="lead text-danger"> No Book have been found matching the criteria</p>
        </div>
    </div>
{% endfor %}
