{% extends "base.html" %}

{% block content %}


<div class="container-fluid pt-3">
    <div class="card card-block py-4">
        <h3 class="py-2"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Unreturned Loans</h3>
        <div class="row mx-2">
            {% for loan in request.user.unreturned_loans %}
                <div class="col-6 col-sm-3 col-lg-2 col-xl-1 py-2">
                    <a class="unstyled" href="{{ loan.book_copy.book.get_absolute_url }}">
                        <div class="card h-100" style="border: none;">
                            <img class="card-img w-100 img-fluid" src="{{ loan.book_copy.book.img }}" alt="Card image cap">
                        </div>
                    </a>
                </div>
            {% empty %}
                <p class="p-3 font-weight-bold text-primary">No unreturned loans</p>
            {% endfor %}
        </div>
        {% if request.user.unreturned_loans %}
            <div class="row pt-4">
                <div class="col">
                    <form class="tc pv3" method="post" action="{% url 'books:bulk-return' %}">
                        {% csrf_token %}
                        <button class="btn btn-warning ml-4" type="submit"><i class="fa fa-mail-reply-all fa-fw" aria-hidden="true"></i> Return all</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="card card-block p-4 mt-4">
        <h3 class="py-2"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Read List</h3>
        <div class="row">
            {% for book in request.user.read_list %}
                <div class="col-6 col-sm-3 col-lg-2 col-xl-1 py-2">
                    <a class="unstyled" href="{{ book.get_absolute_url }}">
                        <div class="card h-100" style="border: none;">
                            <img class="card-img w-100 img-fluid" src="{{ book.img }}" alt="Card image cap">
                        </div>
                    </a>
                </div>
            {% empty %}
                <p class="p-3 font-weight-bold text-primary">No unreturned loans</p>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock content %}
