{% extends "books/genre_view.html" %}

{% block content %}

<div class="container-fluid pt-3">

    <div class="row">
        <div class="col-lg-10 push-lg-2">
            <div class="card card-block py-3">
                <h3 class="py-3"><i class="fa fa-folder-open fa-fw" aria-hidden="true"></i> Genre: {{ genre.name }}</h3>
                <div class="row">
                    {% with genre.books.all as books %}
                        {% include "books/book_grid.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-lg-2 pull-lg-10">
            <ul class="list-group pb-4">
                <a href="#" class="list-group-item bg-warning text-white justify-content-between">
                    <b>Similar Genres</b>
                    <span><i class="fa fa-folder-open fa-fw"></i></span>
                </a>
                {% for genre in genre.similar_genres %}
                    <a href="{{ genre.get_absolute_url }}" class="list-group-item list-group-item-action">{{ genre.name }}</a>
                {% empty %}
                    <a href="#" class="list-group-item list-group-item-action">No similar genres found</a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
