{% extends "base.html" %}

{% block search %}
<form method="post" action="{% url 'books:genre-list' %}">
    {% csrf_token %}
    <input class="pa2 input-reset bn br3 bg-light-gray" name="query" placeholder="Search Genres">
</form>
{% endblock search %}

{% block body %}
<main class="mw6 center">
    <article>
        {% for genre in genre_list %}
            <a class="link dt w-100 bb b--black-10 pb2 mt2 dim blue" href="{{ genre.get_absolute_url }}">
                <div class="dtc v-top pl2 mt2">
                    <h1 class="f6 f5-ns fw6 lh-title black mv0">{{ genre.name }}</h1>
                </div>
            </a>
            {% for book in genre.books.all %}
                <p class="pv2 ph3">
                    <a href="{{ book.get_absolute_url }}" class="link">{{ book }} </a>
                </p>
            {% endfor %}
        {% endfor %}
    </article>
</main>
{% endblock body %}
