{% extends "base.html" %}

{% block search %}
<form method="post" action="{% url 'books:genre-list' %}">
    {% csrf_token %}
    <input class="pa2 input-reset bn br3 bg-light-gray" name="query" placeholder="Search Genres">
</form>
{% endblock search %}


{% block content %}

<div class="container pt-3">
    <div class="card card-block p-5">
        {% for genre in genre_list %}
            <a href="{{ genre.get_absolute_url }}">
                <h3>{{ genre.name }}</h3>
            </a>
            <div class="py-2">
                {% for book in genre.books.all %}
                    <p>
                        <a class="text-muted" href="{{ book.get_absolute_url }}">{{ book }}</a>
                    </p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
<div>

{% endblock content %}
