{% extends "base.html" %}

{% block content %}

<div class="container-fluid pt-3">
    <div class="card card-block p-4 mb-4">
        <h3 class="py-3"><i class="fa fa-leanpub fa-fw" aria-hidden="true"></i> Loans</h3>
        <div class="row">
            {% for loan in overdue_loans %}
                {% with book=loan.book_copy.book %}
                    <div class="col-6 col-sm-3 col-lg-2 col-xl-1 py-2">
                        <a class="unstyled" href="{{ book.get_absolute_url }}">
                            <div class="card h-100">
                                <img class="card-img w-100 h-100 grow {% if not book.is_available %} grayscale {% endif %}" src="{{ book.img }}" alt="Card image cap">
                            </div>
                        </a>
                    </div>
                {% endwith %}
            {% empty %}
            <p class="p-4 text-danger">No overdue loans</p>
            {% endfor %}
        </div>
    </div>
    <div class="card card-block p-4 mb-4">
        <h3 class="py-3"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Recently Added</h3>
        <div class="row">
            {% with latest_books as books %}
                {% include "books/book_grid.html" %}
            {% endwith %}
        </div>
    </div>
</div>

{% endblock content %}
